# Getting things going and highlighting "the problem"

In [58]:
import pandas as pd
import sqlite3

ramphs = pd.read_csv("https://raw.githubusercontent.com/sfsheath/roman-amphitheaters/master/roman-amphitheaters.csv")
chronogrps = pd.read_csv("https://raw.githubusercontent.com/sfsheath/roman-amphitheaters/master/chronogrps.csv")

# I put an uncompressed version of pleiades-places into my folder on the github repo
pleiades = pd.read_csv("https://raw.githubusercontent.com/isaw-ga-3024/isaw-ga-3024.github.io/master/heath-sebastian/pleiades-places.csv")

# One note: because it takes a long time to load the pleiades data,
# avoid running this cell again unless necessary
# As I look back on class, perhaps this is why Mikael reported 
# that his replace was taking a long time. Was the data reloading across the internet?

In [59]:
# ramphs, chronogrps, and pleiades are now pandas DataFrames

print(type(ramphs))
print(type(chronogrps))
print(type(pleiades))

# Again, these are pandas DataFrames, not sql tables!

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [60]:
# OK, to our problem in class.

# inspect the values in both DataFrmes
print(ramphs['pleiades'].head(2))
print(pleiades['id'].head(2))

# They're different. Bummer.

0    http://pleiades.stoa.org/places/893989
1    http://pleiades.stoa.org/places/148217
Name: pleiades, dtype: object
0    265876
1    265877
Name: id, dtype: int64

# A tiny bit of string manipulation

In [61]:
tmp = "Hello World"
tmp.replace("Hello", "") # note that this doesn't remove the space

' World'

# A little bit of pandas dataframe manipulation

In [62]:
# first
ramphs.head(2)

,id,title,label,pleiades,type,capacity,modcountry,chronogrp,certainty,youtube,extmajor,extminor,arenamajor,arenaminor,latitude,longitude,elevation
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,http://pleiades.stoa.org/places/893989,amphitheater,1000,Syria,Severan,NaN,NaN,50,44,31,25,34.749855,40.728926,223
1,arlesAmphitheater,Amphitheater at Arles,Arles,http://pleiades.stoa.org/places/148217,amphitheater,20000,France,Flavian,NaN,https://www.youtube.com/watch?v=oCz-76hb1LU,136,107,47,32,43.677778,4.631111,21

In [63]:
# then
ramphs['pleiades'].head(2)

# so it's easy to output either all columns, or just a selection.
# And it's likely that your notebook is trying to nicely format the output of ramphs.head(2).

0    http://pleiades.stoa.org/places/893989
1    http://pleiades.stoa.org/places/148217
Name: pleiades, dtype: object

In [64]:
# it's easy to create new columns
ramphs['new'] = "test"
ramphs['new'].head(5)

# And look!!!! Very important to note that pandas will automatically assign "test" to all rows.
# That's one of its great powers.

0    test
1    test
2    test
3    test
4    test
Name: new, dtype: object

In [65]:
# combining pandas and string manipulation
ramphs['new'].str.replace("e","").head(5) # do note the ".str" before ".replace"

# Again, pandas calculates result for all rows

0    tst
1    tst
2    tst
3    tst
4    tst
Name: new, dtype: object

In [66]:
# here's a useful construct, though dangerous in that 
# it changes data (a concern some of you raised in class)


ramphs['new'] = ramphs['new'].str.replace("t","")
ramphs['new'].head(5)

0    es
1    es
2    es
3    es
4    es
Name: new, dtype: object

# Review of adding tables to an sql database (to keep our terminology straight)

In [67]:
# The conn variable is a 'database connection'
# we are making this database in memory, meaning it won't be saved
conn = sqlite3.connect(':memory:')

# as convenience, I've put the above in a separate cell. You may not need to run it again.

In [68]:
# the following two lines create sql tables from pandas DataFrames
ramphs.to_sql('ramphs',conn,if_exists="replace")
chronogrps.to_sql('chronogrps', conn, if_exists="replace")

# copy-paste, then edit one of the the above lines to make a pleiades table

In [69]:
# let's test that we have sql tables
pd.read_sql("""SELECT id,pleiades FROM RAMPHS WHERE capacity > 40000""",conn)

# but that only confirms all is well working for the ramphs table.
# Good to test others as well.

                        id                                pleiades
0  romeFlavianAmphitheater  http://pleiades.stoa.org/places/423025

In [87]:
# a reminder
pd.read_sql("""PRAGMA table_info(pleiades)""",conn)
# will display the columns in the pleiades table (assuming you called it 'pleiades')
# look at those columns, which ones have 'chronological' information

    cid                name     type  notnull dflt_value  pk
0     0               index  INTEGER        0       None   0
1     1             authors     TEXT        0       None   0
2     2                bbox     TEXT        0       None   0
3     3        connectsWith     TEXT        0       None   0
4     4             created     TEXT        0       None   0
5     5            creators     TEXT        0       None   0
6     6      currentVersion  INTEGER        0       None   0
7     7         description     TEXT        0       None   0
8     8              extent     TEXT        0       None   0
9     9        featureTypes     TEXT        0       None   0
10   10          geoContext     TEXT        0       None   0
11   11  hasConnectionsWith     TEXT        0       None   0
12   12                  id  INTEGER        0       None   0
13   13   locationPrecision     TEXT        0       None   0
14   14             maxDate     REAL        0       None   0
15   15             minDate     REAL        0       None   0
16   16            modified     TEXT        0       None   0
17   17                path     TEXT        0       None   0
18   18             reprLat     REAL        0       None   0
19   19         reprLatLong     TEXT        0       None   0
20   20            reprLong     REAL        0       None   0
21   21                tags     TEXT        0       None   0
22   22         timePeriods     TEXT        0       None   0
23   23     timePeriodsKeys     TEXT        0       None   0
24   24    timePeriodsRange     TEXT        0       None   0
25   25               title     TEXT        0       None   0
26   26                 uid     TEXT        0       None   0

# More mixing of pandas and sql

In [71]:
# worth noting that the result of pd.read_sql statement is a pandas DataFrame
type(pd.read_sql("""SELECT id FROM ramphs WHERE capacity > 20000""",conn))

# this means you can use pandas .groupby on it. This is familiar from last week
pd.read_sql("""SELECT modcountry,capacity FROM ramphs""",conn).groupby('modcountry').count()

                 capacity
modcountry
Albania                 1
Algeria                 6
Austria                 3
Bulgaria                2
Croatia                 2
Cyprus                  0
France                 18
Germany                 2
Greece                  1
Hungary                 0
Israel                  1
Italy                  39
Libya                   3
Morocco                 0
Netherlands             0
Northern Cyprus         0
Portugal                1
Romania                 1
Serbia                  1
Spain                   6
Switzerland             4
Syria                   1
Tunisia                22
Turkey                  1
United Kingdom          6

In [74]:
import pandas as pd
import sqlite3

ramphs = pd.read_csv("https://raw.githubusercontent.com/sfsheath/roman-amphitheaters/master/roman-amphitheaters.csv")
chronogrps = pd.read_csv("https://raw.githubusercontent.com/sfsheath/roman-amphitheaters/master/chronogrps.csv")
pleiades = pd.read_csv("https://raw.githubusercontent.com/isaw-ga-3024/isaw-ga-3024.github.io/master/heath-sebastian/pleiades-places.csv")

In [75]:
ramphs.to_sql('ramphs',conn,if_exists="replace")
chronogrps.to_sql('chronogrps', conn, if_exists="replace")
pleiades.to_sql('pleiades',conn,if_exists="replace")

In [83]:
ramphs['pleiades'] = ramphs['pleiades'].str.replace("http://pleiades.stoa.org/places/","")
ramphs.to_sql('ramphs',conn,if_exists="replace")
pd.read_sql("""SELECT ramphs.pleiades, pleiades.id FROM ramphs, pleiades LIMIT 6""", conn)

  pleiades      id
0   893989  265876
1   893989  265877
2   893989  265878
3   893989  265880
4   893989  265882
5   893989  265883

In [84]:
pd.read_sql("""SELECT ramphs.id, pleiades.title, pleiades.minDate, pleiades.maxDate 
FROM pleiades, ramphs
WHERE pleiades.id = ramphs.pleiades
ORDER BY pleiades.minDate""", conn)

,id,title,minDate,maxDate
0,pergamumAmphitheater,Pergamum,-1750,2000
1,antiochAmphitheater,Antiochia/Theoupolis,-1750,2100
2,palmyraAmphitheater,Palmyra,-1600,2100
3,bostraAmphitheater,Bostra/Col. Nova Traiana Alexandriana,-1344,2000
4,cyzicusAmphitheater,Cyzicus,-1200,2000
5,arlesAmphitheater,Theline/Col. Arelate/Constantina,-750,2100
6,ludusMagnusArena,Roma,-750,2100
7,romeFlavianAmphitheater,Roma,-750,2100
8,romeAmphitheatrumCastrense,Roma,-750,2100
9,pompeiiAmphitheater,Pompeii,-750,2100
10,conimbrigaAmphitheater,Conimbriga,-750,640
11,cumaeAmphitheater,Cumae/Kyme (Campanian),-750,640
12,pozzuoliFlavianAmphitheater,Dikaiarcheia/Puteoli,-750,2100
13,pozzuoliEarlyAmphitheater,Dikaiarcheia/Puteoli,-750,2100
14,syracuseAmphitheater,Syracusae/Syrakousai,-750,2100
15,carthageAmphitheater,Carthago,-750,2100
16,corinthAmphitheater,Corinthus/Korinthos,-750,2100
17,leptisMagnaAmphitheater,Neapolis/Lepcis Magna,-750,640
18,empuriesAmphitheater,Emporiae,-750,640
19,cagliariAmphitheater,Caralis,-750,2100
20,catiniaAmphitheater,Katane/Catina,-750,2100
21,paestumAmphitheater,Poseidonia/Paestum,-750,2100
22,rusellaeAmphitheater,Rusellae,-750,2100
23,cyreneAmphitheater,Cyrene,-750,2100
24,scythopolisNysaAmphitheater,Scythopolis/Nysa,-750,640
25,ocriculumAmphitheater,Ocriculum,-750,2100
26,lixusAmphitheater,Lixus,-750,640
27,arezzoAmphitheater,Arretium,-750,2100
28,larinumAmphitheater,Larinum,-750,2100
29,grumentoAmphitheater,Grumentum,-750,2100
...,...,...,...,...
227,autunAmphitheater,Augustodunum,-30,2100
228,xantenAmphitheater,Col. Ulpia Traiana/Tricensimae,-30,2100
229,arnsburgAmphitheater,Arnsburg,-30,300
230,kunzingAmphitheater,Quintana,-30,640
231,bobadelaAmphitheater,Elbocoris,-30,300
232,sopronAmphitheater,Scarbantia,-30,2100
233,gleisdorfAmphitheater,Gleisdorf,-30,640
234,stMarcelAmphitheater,*Argentomagus,-30,2100
235,metzAmphitheater,Divodurum?,-30,300
236,grandHalfAmphitheater,Grannum,-30,2100
237,albegnaAmphitheater,Album Ingaunum/Albingaunum,-30,2100
238,chassenonAmphitheater,Cas(s)inomagus,-30,2100
239,seressiAmphitheater,*Seressi,-30,640
240,genzanoPrivateAmphitheater,Antonini,-30,640
241,ainHedjahAmphitheater,Agbia,-30,640
242,portusOvalStructure,Portus,-30,2100
243,montbouyGallRomanAmphitheater,Montbouy,-30,2100
244,hisaryaAmphitheater,Diocletianopolis,-30,640
245,mesarafeltaAmphitheater,Mesarfelta,-30,640
246,tigavaCastraAmphitheater,Tigava Castra,-30,300
247,aostaAmphitheater,Augusta Praetoria,-30,2100
248,imolaAmphitheater,Forum Cornelii,-30,2100
249,forumNovumAmphitheater,Forum Novum,-30,640
250,aurelumCommodianumAmphitheater,Municipium Aurelium Commodianum/Thibiuca?,-30,640
251,pollenzoAmphitheater,Pollentia,-30,640
252,megiddoAmphitheater,Legio/Caporcotani/Maximianopolis,-30,640
253,yorkAmphitheater,Eburacum,-30,640
254,barcelonaAmphitheater,Col. Barcino,-30,2100
255,chichesterAmphitheater,Noviomagus,-30,2100
256,reggioEmiliaAmphitheater,Regium Lepidum,-30,2100

In [78]:
pd.read_sql("""SELECT ramphs.id, chronogrps.start, pleiades.title, pleiades.minDate, pleiades.maxDate 
FROM pleiades, ramphs, chronogrps 
WHERE (pleiades.id = ramphs.pleiades) AND (ramphs.chronogrp = chronogrps.chronogrp)
ORDER BY chronogrps.start""", conn)

,id,start,title,minDate,maxDate
0,pompeiiAmphitheater,-70,Pompeii,-750,2100
1,cumaeAmphitheater,-70,Cumae/Kyme (Campanian),-750,640
2,pozzuoliEarlyAmphitheater,-70,Dikaiarcheia/Puteoli,-750,2100
3,paestumAmphitheater,-70,Poseidonia/Paestum,-750,2100
4,avellaAmphitheater,-70,Abella,-330,640
5,ferentoAmphitheater,-70,Lucus Feroniae,-550,640
6,sutriumAmphitheatre,-70,Sutrium,-550,640
7,telesiaAmphitheatre,-70,Telesia,-330,640
8,antiochAmphitheater,-70,Antiochia/Theoupolis,-1750,2100
9,beneventoAmphitheater,-70,Beneventum/Maleventum,-330,2100
10,calviRisortaAmphitheater,-70,Cales,-550,640
11,capuaRepublicanAmphitheater,-70,Capua,-750,640
12,liternoAmphitheater,-70,Liternum,-330,640
13,noleAmphitheater,-70,Nola,-750,640
14,teanoAmphitheater,-70,Tusculum,-750,2100
15,suessaAruncaAmphitheater,-70,Suessa Aurunca,-750,640
16,altripaldaAmphitheater,-70,Abellinum,-330,640
17,compsaAmphitheater,-70,Compsa,-550,640
18,corinthAmphitheater,-49,Corinthus/Korinthos,-750,2100
19,carmonaAmphitheater,-49,Carmo,-750,2100
20,espejoAmphitheater,-49,Ucubi/Col. Claritas Iulia,-330,300
21,meridaAmphitheater,-27,Emerita Augusta,-30,2100
22,conimbrigaAmphitheater,-27,Conimbriga,-750,640
23,syracuseAmphitheater,-27,Syracusae/Syrakousai,-750,2100
24,rusellaeAmphitheater,-27,Rusellae,-750,2100
25,luceriaNoukeriaAmphitheater,-27,Luceria/Noukeria (Apoulon),-550,2100
26,cimiezAmphitheater,-27,Cemenelum,-330,2100
27,veronaAmphitheatre,-27,Verona,-30,640
28,albaFucensAmphitheater,-27,Alba Fucens,-330,2100
29,cherchellAmphitheater,-27,Iol Caesarea,-550,2100
...,...,...,...,...,...
227,chemtouAmphitheater,100,Simitthu,-330,2100
228,genzanoPrivateAmphitheater,100,Antonini,-30,640
229,ainHedjahAmphitheater,100,Agbia,-30,640
230,uticaAmphitheater,100,Utica,-750,640
231,tebourbaAmphitheater,100,Thuburbi Minus,-330,2100
232,hencherElKasbatAmphitheater,100,Thuburbo Maius,-330,640
233,hencherZembraAmphitheater,100,Uluzibbira,-330,640
234,botriaAmphitheater,100,Acholla,-330,640
235,portusOvalStructure,100,Portus,-30,2100
236,mesarafeltaAmphitheater,100,Mesarfelta,-30,640
237,tigavaCastraAmphitheater,100,Tigava Castra,-30,300
238,tusculumAmphitheater,100,Tusculum,-750,2100
239,aurelumCommodianumAmphitheater,100,Municipium Aurelium Commodianum/Thibiuca?,-30,640
240,hadrianVillaAmphitheater,117,Villa Hadriani,-330,640
241,gemellaeAmphitheater,117,Gemellae,-30,640
242,toursAmphitheater,117,Caesarodunum,-30,2100
243,riminiAmphitheater,117,Ariminum,-550,640
244,colAugustaRauricaAmphitheatre,150,Col. Augusta Raurica,-330,2100
245,tipasaAmphitheater,150,Tipasa,-550,640
246,bullaRegiaAmphitheater,150,Bulla Regia,-330,640
247,duraEuroposAmphitheater,193,Dura,-330,640
248,romeAmphitheatrumCastrense,193,Roma,-750,2100
249,marcianopolisAmphitheater,193,Marcianopolis,-30,640
250,bararusAmphitheater,193,Bararus,-30,640
251,castraAlbanaAmphitheater,193,Castra Albana,-30,640
252,grandHalfAmphitheater,200,Grannum,-30,2100
253,egnaziaAmphitheater,200,Egnatia/Gnathia,-750,640
254,thysdrusAmphitheater,235,Thysdrus,-330,2100
255,sophiaAmphitheater,235,Serdica,-30,2100
256,aphrodisiasAmphitheater,300,Aphrodisias,-550,640

In [86]:
ramphs2 = pd.read_sql("""SELECT ramphs.id, chronogrps.start, pleiades.title, pleiades.minDate, pleiades.maxDate 
FROM pleiades, ramphs, chronogrps 
WHERE (pleiades.id = ramphs.pleiades) AND (ramphs.chronogrp = chronogrps.chronogrp)
ORDER BY chronogrps.start""", conn)
ramphs2.to_sql("ramphs2", conn, if_exists='replace')
ramphs2.head(230)

,id,start,title,minDate,maxDate
0,pompeiiAmphitheater,-70,Pompeii,-750,2100
1,cumaeAmphitheater,-70,Cumae/Kyme (Campanian),-750,640
2,pozzuoliEarlyAmphitheater,-70,Dikaiarcheia/Puteoli,-750,2100
3,paestumAmphitheater,-70,Poseidonia/Paestum,-750,2100
4,avellaAmphitheater,-70,Abella,-330,640
5,ferentoAmphitheater,-70,Lucus Feroniae,-550,640
6,sutriumAmphitheatre,-70,Sutrium,-550,640
7,telesiaAmphitheatre,-70,Telesia,-330,640
8,antiochAmphitheater,-70,Antiochia/Theoupolis,-1750,2100
9,beneventoAmphitheater,-70,Beneventum/Maleventum,-330,2100
10,calviRisortaAmphitheater,-70,Cales,-550,640
11,capuaRepublicanAmphitheater,-70,Capua,-750,640
12,liternoAmphitheater,-70,Liternum,-330,640
13,noleAmphitheater,-70,Nola,-750,640
14,teanoAmphitheater,-70,Tusculum,-750,2100
15,suessaAruncaAmphitheater,-70,Suessa Aurunca,-750,640
16,altripaldaAmphitheater,-70,Abellinum,-330,640
17,compsaAmphitheater,-70,Compsa,-550,640
18,corinthAmphitheater,-49,Corinthus/Korinthos,-750,2100
19,carmonaAmphitheater,-49,Carmo,-750,2100
20,espejoAmphitheater,-49,Ucubi/Col. Claritas Iulia,-330,300
21,meridaAmphitheater,-27,Emerita Augusta,-30,2100
22,conimbrigaAmphitheater,-27,Conimbriga,-750,640
23,syracuseAmphitheater,-27,Syracusae/Syrakousai,-750,2100
24,rusellaeAmphitheater,-27,Rusellae,-750,2100
25,luceriaNoukeriaAmphitheater,-27,Luceria/Noukeria (Apoulon),-550,2100
26,cimiezAmphitheater,-27,Cemenelum,-330,2100
27,veronaAmphitheatre,-27,Verona,-30,640
28,albaFucensAmphitheater,-27,Alba Fucens,-330,2100
29,cherchellAmphitheater,-27,Iol Caesarea,-550,2100
...,...,...,...,...,...
200,carnuntumCivilianAmphitheater,100,Carnuntum,-30,640
201,tarragonaAmphitheater,100,Col. Tarraco,-550,2100
202,cagliariAmphitheater,100,Caralis,-750,2100
203,italicaAmphitheater,100,Italica,-330,640
204,viminaciumAmphitheater,100,Viminacium,-30,2100
205,gennesAmphitheater,100,*Geinum,-30,640
206,bordeauxAmphitheater,100,Burdigala,-30,2100
207,oudnaAmphitheater,100,Uthina,-30,640
208,sarmizegetusaAmphitheatre,100,Ulpia Traiana Sarmizegetusa,-30,300
209,salonaAmphitheatre,100,Salona,-330,2100
210,durresAmphitheatre,100,Dyrr(h)achium/Epidamnos,-750,640
211,lambaesisAmphitheater,100,Lambaesis,-30,2100
212,cirencesterAmphitheater,100,Corinium,-30,640
213,thysdrusSmallAmphitheater,100,Thysdrus,-330,2100
214,gortynAmphitheater,100,Gortyn(a),-750,640
215,leptiminusAmphitheater,100,Lepti Minus,-330,640
216,caesareaAmphitheater,100,Stratonos Pyrgos/Caesarea,-330,2100
217,pergamumAmphitheater,100,Pergamum,-1750,2000
218,sabrathaAmphitheater,100,Abrotonum/Sabratha,-750,640
219,carmarthenAmphitheater,100,*Moridunum,-30,640
220,sbeitlaAmphitheater,100,Sufetula,-30,640
221,trierAmphitheater,100,Col. Augusta Treverorum,-30,2100
222,besanconAmphitheater,100,Vesontio,-330,2100
223,limogesAmphitheater,100,Augustoritum,-30,2100
224,amiensAmphitheater,100,Samarobriva Ambianorum,-330,2100
225,silchesterAmphitheater,100,Calleva,-30,2100
226,seressiAmphitheater,100,*Seressi,-30,640
227,chemtouAmphitheater,100,Simitthu,-330,2100
228,genzanoPrivateAmphitheater,100,Antonini,-30,640
229,ainHedjahAmphitheater,100,Agbia,-30,640

# What if I don't accept the assignment?